repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: f298c082154b2cb239fac06a4f452368e66e66dd # v1.0.0-rc.4
    hooks:
      - id: go-mod-tidy
      - id: go-fmt
      - id: go-build-repo-mod
      - id: golangci-lint-mod
        args: [--fix]
      - id: go-test-mod
