name: Pre-commit hooks
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

# We're basically using the same steps as here - https://github.com/pre-commit/action/blob/main/action.yml
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "stable"

      - name: Cache golangci-lint
        uses: actions/cache@v4
        with:
          path: ~/.cache/golangci-lint
          key: golangci-lint-2.0.2

      - name: Ensure golangci-lint is installed
        run: |
          set -e
          export GOLANGCI_LINT_VERSION=v2.0.2
          export GOLANGCI_LINT_BIN="$HOME/.cache/golangci-lint/golangci-lint"
          if [ -x "$GOLANGCI_LINT_BIN" ]; then
            echo "golangci-lint found in cache."
          else
            echo "golangci-lint not found in cache, installing with curl..."
            mkdir -p "$HOME/.cache/golangci-lint"
            curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b "$HOME/.cache/golangci-lint" $GOLANGCI_LINT_VERSION
          fi
          echo "$HOME/.cache/golangci-lint" >> $GITHUB_PATH

      - name: Cache pre-commit
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Install pre-commit
        run: python -m pip install pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files --show-diff-on-failure --color=always
        shell: bash

      - name: Run golangci-lint
        run: golangci-lint run --fix
